In [4]:
import pandas as pd

ruta = r"C:\Users\du11505\OneDrive - University of Georgia\Desktop\wildfires SE-USA\2.3 billions wildfires\data.csv"

df = pd.read_csv(ruta)

# Mostrar primeras filas
df.head()

C:\Users\du11505\AppData\Local\Temp\ipykernel_27920\2280397767.py:5: DtypeWarning: Columns (9,11,12,13,14,15,16,17,18,19,26,27,36,38) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(ruta)

,OBJECTID,Shape,FOD_ID,FPA_ID,SOURCE_SYSTEM_TYPE,SOURCE_SYSTEM,NWCG_REPORTING_AGENCY,NWCG_REPORTING_UNIT_ID,NWCG_REPORTING_UNIT_NAME,SOURCE_REPORTING_UNIT,...,CONT_TIME,FIRE_SIZE,FIRE_SIZE_CLASS,LATITUDE,LONGITUDE,OWNER_DESCR,STATE,COUNTY,FIPS_CODE,FIPS_NAME
0,1,b'\x00\x01\xad\x10\x00\x00\xc8\xce\n[_@^\xc0\x...,1,FS-1418826,FED,FS-FIRESTAT,FS,USCAPNF,Plumas National Forest,511,...,1730.0,0.10,A,40.036944,-121.005833,USFS,CA,63.0,6063.0,Plumas County
1,2,b'\x00\x01\xad\x10\x00\x00\xc8\xe594\xe2\x19^\...,2,FS-1418827,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,503,...,1530.0,0.25,A,38.933056,-120.404444,USFS,CA,61.0,6061.0,Placer County
2,3,b'\x00\x01\xad\x10\x00\x00x{\xac \x13/^\xc0@\x...,3,FS-1418835,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,503,...,2024.0,0.10,A,38.984167,-120.735556,STATE OR PRIVATE,CA,17.0,6017.0,El Dorado County
3,4,b'\x00\x01\xad\x10\x00\x00\xc8\x13u\xd7s\xfa]\...,4,FS-1418845,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,503,...,1400.0,0.10,A,38.559167,-119.913333,USFS,CA,3.0,6003.0,Alpine County
4,5,b'\x00\x01\xad\x10\x00\x00\xd0\x11y\xf8\xb6\xf...,5,FS-1418847,FED,FS-FIRESTAT,FS,USCAENF,Eldorado National Forest,503,...,1200.0,0.10,A,38.559167,-119.933056,USFS,CA,3.0,6003.0,Alpine County

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2303566 entries, 0 to 2303565
Data columns (total 39 columns):
 #   Column                         Dtype
---  ------                         -----
 0   OBJECTID                       int64
 1   Shape                          object
 2   FOD_ID                         int64
 3   FPA_ID                         object
 4   SOURCE_SYSTEM_TYPE             object
 5   SOURCE_SYSTEM                  object
 6   NWCG_REPORTING_AGENCY          object
 7   NWCG_REPORTING_UNIT_ID         object
 8   NWCG_REPORTING_UNIT_NAME       object
 9   SOURCE_REPORTING_UNIT          object
 10  SOURCE_REPORTING_UNIT_NAME     object
 11  LOCAL_FIRE_REPORT_ID           object
 12  LOCAL_INCIDENT_ID              object
 13  FIRE_CODE                      object
 14  FIRE_NAME                      object
 15  ICS_209_PLUS_INCIDENT_JOIN_ID  object
 16  ICS_209_PLUS_COMPLEX_JOIN_ID   object
 17  MTBS_ID                        object
 18  MTBS_FIRE_NAME                 object
 19  COMPLEX_NAME                   object
 20  FIRE_YEAR                      int64
 21  DISCOVERY_DATE                 object
 22  DISCOVERY_DOY                  int64
 23  DISCOVERY_TIME                 float64
 24  NWCG_CAUSE_CLASSIFICATION      object
 25  NWCG_GENERAL_CAUSE             object
 26  NWCG_CAUSE_AGE_CATEGORY        object
 27  CONT_DATE                      object
 28  CONT_DOY                       float64
 29  CONT_TIME                      float64
 30  FIRE_SIZE                      float64
 31  FIRE_SIZE_CLASS                object
 32  LATITUDE                       float64
 33  LONGITUDE                      float64
 34  OWNER_DESCR                    object
 35  STATE                          object
 36  COUNTY                         object
 37  FIPS_CODE                      float64
 38  FIPS_NAME                      object
dtypes: float64(7), int64(4), object(28)
memory usage: 685.4+ MB

In [6]:
df.isna().sum()

OBJECTID                               0
Shape                                  0
FOD_ID                                 0
FPA_ID                                 0
SOURCE_SYSTEM_TYPE                     0
SOURCE_SYSTEM                          0
NWCG_REPORTING_AGENCY                  0
NWCG_REPORTING_UNIT_ID                 0
NWCG_REPORTING_UNIT_NAME               0
SOURCE_REPORTING_UNIT                  0
SOURCE_REPORTING_UNIT_NAME             0
LOCAL_FIRE_REPORT_ID             1825891
LOCAL_INCIDENT_ID                 744411
FIRE_CODE                        1906254
FIRE_NAME                         995415
ICS_209_PLUS_INCIDENT_JOIN_ID    2270072
ICS_209_PLUS_COMPLEX_JOIN_ID     2298627
MTBS_ID                          2289696
MTBS_FIRE_NAME                   2289696
COMPLEX_NAME                     2297619
FIRE_YEAR                              0
DISCOVERY_DATE                         0
DISCOVERY_DOY                          0
DISCOVERY_TIME                    789095
NWCG_CAUSE_CLASSIFICATION              0
NWCG_GENERAL_CAUSE                     0
NWCG_CAUSE_AGE_CATEGORY          2228039
CONT_DATE                         894813
CONT_DOY                          894813
CONT_TIME                         990880
FIRE_SIZE                              0
FIRE_SIZE_CLASS                        0
LATITUDE                               0
LONGITUDE                              0
OWNER_DESCR                            0
STATE                                  0
COUNTY                            665779
FIPS_CODE                         665779
FIPS_NAME                         665780
dtype: int64

there are many columns with few information, but they are not important in our analysis, we are going to make a subset with  the next variables :  "FIRE_YEAR",
    "DISCOVERY_DATE",
    "DISCOVERY_DOY",
    "NWCG_CAUSE_CLASSIFICATION",
    "NWCG_GENERAL_CAUSE",
    "LATITUDE",
    "LONGITUDE",
    "FIRE_SIZE", 
    "FIRE_SIZE_CLASS",  "OWNER_DESCR",
    "STATE"

In [7]:
cols = [
    "FIRE_YEAR",
    "DISCOVERY_DATE",
    "DISCOVERY_DOY",
    "NWCG_CAUSE_CLASSIFICATION",
    "NWCG_GENERAL_CAUSE",
    "LATITUDE",
    "LONGITUDE",
    "FIRE_SIZE",
    "OWNER_DESCR",
    "FIRE_SIZE_CLASS",
    "STATE"
]

df_clean = df[cols].copy()

# Eliminar filas con NA en estas columnas clave
df_clean = df_clean.dropna(subset=cols)

# Mostrar info
df_clean.head()

,FIRE_YEAR,DISCOVERY_DATE,DISCOVERY_DOY,NWCG_CAUSE_CLASSIFICATION,NWCG_GENERAL_CAUSE,LATITUDE,LONGITUDE,FIRE_SIZE,OWNER_DESCR,FIRE_SIZE_CLASS,STATE
0,2005,2/2/2005,33,Human,Power generation/transmission/distribution,40.036944,-121.005833,0.10,USFS,A,CA
1,2004,5/12/2004,133,Natural,Natural,38.933056,-120.404444,0.25,USFS,A,CA
2,2004,5/31/2004,152,Human,Debris and open burning,38.984167,-120.735556,0.10,STATE OR PRIVATE,A,CA
3,2004,6/28/2004,180,Natural,Natural,38.559167,-119.913333,0.10,USFS,A,CA
4,2004,6/28/2004,180,Natural,Natural,38.559167,-119.933056,0.10,USFS,A,CA

In order to remove noise, we will only considerf in our analysis the fires greater than 100 acres (Fire class D,E,F and G)

In [8]:
df_big = df_clean[df_clean["FIRE_SIZE"] > 100].copy()

In [9]:
df_big.info()

<class 'pandas.core.frame.DataFrame'>
Index: 60713 entries, 16 to 2303565
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   FIRE_YEAR                  60713 non-null  int64
 1   DISCOVERY_DATE             60713 non-null  object
 2   DISCOVERY_DOY              60713 non-null  int64
 3   NWCG_CAUSE_CLASSIFICATION  60713 non-null  object
 4   NWCG_GENERAL_CAUSE         60713 non-null  object
 5   LATITUDE                   60713 non-null  float64
 6   LONGITUDE                  60713 non-null  float64
 7   FIRE_SIZE                  60713 non-null  float64
 8   OWNER_DESCR                60713 non-null  object
 9   FIRE_SIZE_CLASS            60713 non-null  object
 10  STATE                      60713 non-null  object
dtypes: float64(3), int64(2), object(6)
memory usage: 5.6+ MB

In [10]:
df_big.to_csv("wildfires_greather_than_100acres.csv", index=False)

##  the next step is to add the weather

In [11]:

import requests
from tqdm import tqdm

# 1.convert date to the format YYYY-MM-DD
df_big["DATE"] = pd.to_datetime(df_big["DISCOVERY_DATE"]).dt.strftime("%Y-%m-%d")

# 2. Create dataframe unique 
unique_requests = df_big[["LATITUDE", "LONGITUDE", "DATE"]].drop_duplicates()

# 3. Function to get Tmax from  Open-Meteo
def get_tmax(lat, lon, date):
    url = (
        "https://archive-api.open-meteo.com/v1/archive?"
        f"latitude={lat}&longitude={lon}"
        f"&start_date={date}&end_date={date}"
        "&daily=temperature_2m_max&timezone=UTC"
    )
    try:
        response = requests.get(url)
        data = response.json()
        return data["daily"]["temperature_2m_max"][0]
    except:
        return None

# 4. get Tmax for each combination
tmax_list = []
for _, row in tqdm(unique_requests.iterrows(), total=len(unique_requests)):
    tmax = get_tmax(row["LATITUDE"], row["LONGITUDE"], row["DATE"])
    tmax_list.append(tmax)

unique_requests["TMAX"] = tmax_list

# 5. Hacer merge de vuelta al dataset grande
df_big = df_big.merge(unique_requests, on=["LATITUDE", "LONGITUDE", "DATE"], how="left")

# 6. Verificar
df_big[["LATITUDE", "LONGITUDE", "DATE", "TMAX"]].head()

100%|█████████████████████████████████████████████████████████████████████████| 60604/60604 [14:07:45<00:00,  1.19it/s]

    LATITUDE   LONGITUDE        DATE  TMAX
0  38.523333 -120.211667  2004-10-06  21.3
1  38.780000 -120.260000  2004-10-13  24.7
2  36.001667  -81.590000  2005-02-12  10.5
3  43.899167 -102.954722  2005-07-16  40.1
4  43.892778 -102.948056  2005-07-16  39.7

In [13]:
df_big.to_csv("wildfires_greather_than_100acres_with_temperature.csv", index=False)